/*
Colors used:

Black:#000000
Dark green: #47817F
Turquiose: #00C9C8
Light Baby Blue: #BFFCF9
Dark Brown: #28161C
*/
header {
  background-color: #66e3ed;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0px 11px 16px 0px rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
}

#hero {
  background-color: #ccfbff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

* {
  box-sizing: border-box;
}

main {
  padding-top: 160px;
}

body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
  /* font color  */
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #47817F;
  text-decoration: none;
  /* No underlining */
}
}

a:visited {
  /* visited link */
  color: #ff7f50;
}

a:hover,
a:focus {
  color: #BFFCF9;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #00C9C8;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #308899;
  /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #00C9C8;
  text-transform: uppercase;
  border: 2px solid #00C9C8;
}

.button.contact:hover {
  background-color: #00C9C8;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#work-section .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

.center {
  text-align: center;
}

.logo {
  max-width: 120px;
}

#me {
  max-width: 100px;
}

.image-container {text-align: center;
margin-top: 60px;}

#Layer_1 {
  max-width: 32px;
  max-height: 32px;
}

#links {
  text-align: center;
  padding: 10px
}

#about {
  padding: 20px 25px;
  display: inline-block;
  width: 100%;
}

#copyright {
  text-align: center;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}

nav>ul>li>a:visited {
  color: #7d3099;
  /* visited link */
}

nav>ul>li>a:hover,
nav>ul>li>a:focus {
  color: #1b39e0;
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #00C9C8;
}





/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  main {
    padding-top: 99px;
  }
  body {font-size: 16px;}
  #hero {text-align: center;}
  #hero span {
  display: block;
}
.col-md-6 {
  width: 50%;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#about-body h3 { margin-top: 0;}

}
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
